In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("./pets.csv")

In [35]:
print("Number of colums: ", df.columns.size)
print("Number of rows: ", df.shape[0])

Number of colums:  6
Number of rows:  800

In [36]:
print("That colums are numerical values:")
print(df.describe().head(0))
print("That colums are qualitative variables:")
print(df.describe(include='object').head(0))

That colums are numerical values:
Empty DataFrame
Columns: [score, age, weight]
Index: []
That colums are qualitative variables:
Empty DataFrame
Columns: [id, pet, country]
Index: []

In [37]:
cats_df = df[df['pet'] == 'cat']
young_cats_df = cats_df[cats_df['age'] < 5]
mean_rating = df['score'].mean()
high_rated_young_cats_df = young_cats_df[young_cats_df['score'] > mean_rating]
print(high_rated_young_cats_df)

       id  pet country  score  age     weight
405  S406  cat      UK    115    2   3.616348
435  S436  cat      UK    108    4   9.199217
441  S442  cat      UK     99    3   7.122174
446  S447  cat      UK    103    3   8.896390
470  S471  cat      UK     98    3   7.299386
530  S531  cat      UK    102    1   6.514987
535  S536  cat      UK     98    4  10.300634
539  S540  cat      UK     99    4  10.968181
544  S545  cat      UK    106    4  10.247383
598  S599  cat      NL     99    2   6.192409
604  S605  cat      NL    103    3   8.080064
605  S606  cat      NL     98    4   5.720640
611  S612  cat      NL    104    4   5.690684
613  S614  cat      NL    106    2   4.467863
616  S617  cat      NL    102    2   4.929214
620  S621  cat      NL    101    4   8.071654
645  S646  cat      NL    101    1   7.266041
667  S668  cat      NL     99    3  10.792858
685  S686  cat      NL    114    4   6.120207
697  S698  cat      NL    119    4   5.351087

In [38]:
cross_tab = pd.crosstab(df['pet'], df['country'])
print(cross_tab)

country   NL   UK
pet
cat      150  150
dog      200  200
ferret    50   50